*{
    padding: 0;
    margin: 0;
    color: rgb(39, 36, 36);
}
.container{
    width: 100%;
}
.container .form{
    background-color: rgb(251, 250, 250);
    width: 40rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
padding: 2rem;
    border: 2px solid rgb(237, 230, 230);
    box-shadow: 10px 5px 20px rgb(203, 200, 200);
    border-radius: 1.5rem;
}
.form .box .heading{
    font-size: 1.2rem;
    color: black;
    padding: 2rem;
}
.box .content{
    margin: 1rem;
}
.box .content label{
    font-size: 1.2rem;
}
.box .content input{
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem;
    margin-top: 1rem;
}
.box .row{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit,minmax(2rem,1fr));
}
.box .row input{
    width: 8rem;
}
.payment-mode p{
    font-size: 1.2rem;
}
.payment-mode .card{
    display: flex;
    flex-direction: row;
}
.payment-mode .cards img{
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}
.payment-mode .info{
    margin: 1rem;
}
.payment-mode .info label{
    width: 50%;
    font-size: 1.4rem;
}
.payment-mode .info input{
    width: 50%;
    font-size: 1.5rem;
}
.submit{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.submit button{
    outline: none;
    border: none;
    background: rgb(47, 75, 255);
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2rem;
}
